@import "tailwindcss";

:root {
  /*Light Mode*/
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-foreground-primary: #000000;
  --color-foreground-secondary: #4b5563;
  --color-accent: #4f46e5;

  /*Dark Mode*/
  --color-bg-primary-dark: #0a0a0a;
  --color-bg-secondary-dark: #171717;
  --color-foreground-primary-dark: #ffffff;
  --color-foreground-secondary-dark: #9ca3af;
  --color-accent-dark: #4f46e5;
}

/* Tailwind v4 theme configuration */
@theme {
  --color-accent: #4f46e5;
}

/* TODO: switch to dark mode when dark mode is enabled */

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: var(--color-bg-primary-dark);
    --color-bg-secondary: var(--color-bg-secondary-dark);
    --color-foreground-primary: var(--color-foreground-primary-dark);
    --color-foreground-secondary: var(--color-foreground-secondary-dark);
    --color-accent: var(--color-accent-dark);
  }
}

body {
  background: var(--color-bg-primary);
  color: var(--color-foreground-primary);
  font-family: var(--font-general-sans), system-ui, -apple-system, sans-serif;
}

.logo {
  font-family: var(--font-poppins), system-ui, -apple-system, sans-serif;
}
