@import "tailwindcss";

:root {
  /*Light Mode*/
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f5f5f5;
  --color-foreground-primary: #000000;
  --color-foreground-secondary: #4b5563;

  /*Dark Mode*/
  --color-bg-primary-dark: #0a0a0a;
  --color-bg-secondary-dark: #171717;
  --color-foreground-primary-dark: #ffffff;
  --color-foreground-secondary-dark: #9ca3af;
}

/* create a custom css class for the theme */
/* @theme inline {
  --color-bg-primary: var(--color-bg-primary);
  --color-bg-secondary: var(--color-bg-secondary);
  --color-foreground-primary: var(--color-foreground-primary);
  --color-foreground-secondary: var(--color-foreground-secondary);
} */

@media (prefers-color-scheme: light) {
  :root {
    --color-bg-primary: var(--color-bg-primary-dark);
    --color-bg-secondary: var(--color-bg-secondary-dark);
    --color-foreground-primary: var(--color-foreground-primary-dark);
    --color-foreground-secondary: var(--color-foreground-secondary-dark);
  }
}

body {
  background: var(--color-bg-primary);
  color: var(--color-foreground-primary);
  font-family: var(--font-general-sans), system-ui, -apple-system, sans-serif;
}
